TAPO_CAMERA_HOST=192.0.2.10
TAPO_CAMERA_NAME=cam1
TAPO_CAMERA_PORT=2020
TAPO_EVENT_RECEIVER_HOST=0.0.0.0
TAPO_EVENT_RECEIVER_PORT=9191
TAPO_EVENT_RECEIVER_URL=http://192.0.2.20:9191/n
TAPO_EVENTS_DIR=/srv/home-camera/events
TAPO_RECORDINGS_DIR=/srv/home-camera/recordings
TAPO_SEGMENT_SECONDS=300
TAPO_TIMEZONE=Asia/Ho_Chi_Minh
TAPO_USER=REPLACE_ME
TAPO_PASSWORD=REPLACE_ME
